---
import "greset";
import "../style.scss"

const { title, description } = Astro.props;
interface Props {
	title?: string;
	description?: string;
}

const fullTitle = `${title ? title + " - " : ""}NieR Resources`
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{fullTitle}</title>
		<meta property="og:title" content={fullTitle}>
		<meta property="og:image" content="/favicon.ico">
		<meta property="og:description" content={description}>
		<meta name="description" content={description}>
	</head>
	<body>
		<main><slot /></main>
	</body>
</html>

<style lang="scss">
	@use "include-media" as im;

	body {
		background-image: url('/footer.webp');
		overflow-x: hidden;
		background-size: contain;
		background-position: 0% bottom;
		background-repeat: no-repeat;
		background-color: black;
		color: white;
		margin: 50px 50px;
		height: 100%;

		@include im.media("<=1200px") {
			background-size: 200%;
		}

		@include im.media("<=tablet") {
			margin: 10px 10px;
			background-size: 300%;
		}
	}
</style>
